# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Base de datos vectorial (no se sube, se genera localmente)
chroma_db/
# Datos y vectorstores generados localmente
data/
vectorstore/
